<div class="modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Make a note</h2>
      <a href="#" class="btn-close" (click)="closeMod()">×</a>
    </div>
    <div class="modal-body">
      <form [formGroup]='formDate' >
        <p *ngIf="getNote">
          <textarea name="note" cols="30" rows="10" autofocus formControlName="note"></textarea>
        </p>
        <p *ngIf="!getNote">
          <textarea name="note" cols="30" rows="10" autofocus formControlName="note"></textarea>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" (click)="saveNote()">Save</a>
    </div>
  </div>
</div>
