._weekday {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
}

._day {
  width: 14.28571429%;
  text-align: center;
  padding:13px 0;
  align-self: center;
  cursor: pointer
}

.yesterday, .tomorrow, .lastDay {
  color: #c0c0c0;
}

.current {
  color: #28283b;
  font-size: 1.5em;
  border-bottom: 1px solid;
}

.today {
  color: #000;
}

/*.activeDate {*/
  /*position: absolute;*/
  /*border-radius: 30px;*/
  /*max-width: 35px;*/
  /*max-height: 7px;*/
  /*line-height: 8px;*/
  /*background: #FF6E40;*/
  /*margin:0 auto;*/
  /*color: #ffffff;*/
  /*font-size: 1.5em;*/
/*}*/
