._weekday {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
}

._day {
  width: 14.28571429%;
  text-align: center;
  padding:13px 0;
  align-self: center;
  cursor: pointer
}
._day:hover {
  background-color: blueviolet;
  border-radius: 50%;
  width: 40px;
  height: 14px;
  line-height: 16px;
  transition: 0.5s all;
  margin-left: 8px;
  color: #ffffff;
}

.yesterday, .tomorrow, .lastDay {
  color: #c0c0c0;
}

.current {
  font-size: 1.5em;
}

.activeDate {
  /*background-color: blueviolet;*/
  /*border-radius: 50%;*/
  /*width: 40px;*/
  /*height: 14px;*/
  /*line-height: 16px;*/
  /*margin-left: 8px;*/
}

