<form class="todo-form" [formGroup]="todoForm" (ngSubmit)="onSubmit(); todoForm.reset()" >
    <input type="text"
           name="title"
           class="form-control"
           formControlName="title"
           required
           autofocus
           [attr.disabled]="passDay?'':null"
           [attr.placeholder]="passDay?'Прошедший день':'Что нужно сделать'"
    >
    <button type="submit" [disabled]="todoForm.invalid">Добавить</button>
</form>

<ng2-izitoast
  [icon]="'iziToast-icon ico-check revealIn'"
  [title]="'Ok'"
  [color]="'green'"
  [message]="'Заметка успешно добавленна =)'">
</ng2-izitoast>
