._nav {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  color: #c0c0c0;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}
button:hover {
  color: rgb(40,40,59);
  font-weight:bold;
}
